<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
  <appender name="R" class="org.apache.log4j.RollingFileAppender"> 
    <param name="file" value="forward-proxy.log"/>
    <param name="MaxFileSize" value="10MB"/>
    <!-- Keep one backup file -->
    <param name="MaxBackupIndex" value="10"/>
    <layout class="org.apache.log4j.PatternLayout"> 
      <param name="ConversionPattern" value="%d{yyyy-MM-dd} %d{ABSOLUTE} [%t] %5p %C:%L-%M() - %m%n" /> 
    </layout> 
  </appender> 

  <root>
    <priority value="debug" />
    <appender-ref ref="R" />
  </root>

</log4j:configuration>
